@media(max-width: 1100px){
  .info__items{
    flex-wrap: wrap;
    justify-content: center;
  }
  .info__item{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
}
@media(max-width: 1000px){
  .quarter__top-title{
      padding-left: 0;
      &--text{
        text-align: center;
      }
    }
}
@media(max-width: 900px){
  .quarter__down-items{
    flex-wrap: wrap;
    justify-content: center;
    &__item{
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }
  .quarter__down{
    &-info{
      font-size: 40px;
      span{
        font-size: 50px;
      }
    }
  }
  .comfort__item,
  .comfort__item-two{
    height: 276px;
  }
  .comfort__item.active{
    height: 305px;
  }
  .comfort__item-two.active{
    height: 305px;
  }
  .comfort__title{
    margin-top: 0;
  }
  .comfort__inner {
    justify-content: center;
  }
  .comfort__items {
    margin-left: 40px;
    margin-right: 40px;
  }
  .comfort__presentation-text{
    font-size: 32px;
    margin-top: -80px;
  }
  .footer{
    &__inner{
      flex-wrap: wrap;
    }
    &__item{
      margin: 0 auto;
      &-logo{
        margin: 0 auto;
        margin-bottom: 98px;
      }
      &-btn{
        max-width: 100%;
      }
      &-name{
        text-align: center;
      }
      &-box{
        margin-top: 100px;
        text-align: center;
      }
    }
  }
}
@media(max-width: 800px){
  .home__text{
    font-size: 40px;
  }
  .home__title-text,
  .yard__title-text{
    font-size: 50px;
  }
  .header__title-text {
    font-size: 50px;
  }
  .header__btn{
    margin-top: 190px;
    font-size: 40px;
  }
  .comfort__btn {
    font-size: 40px;
  }
  .quarter__top{
    &-title{
      padding-left: 0;
      &--text{
        font-size: 50px;
        text-align: center;
      }
    }
  }
  .comfort__title {
    font-size: 40px;
    span{
      font-size: 50px;
    }
  }
}
@media(max-width: 700px){
  .comfort__slider,
  .comfort__slider-two {
    height: 400px;
  }
  .comfort__presentation-text {
    font-size: 24px;
    margin-top: -100px;
  }
}
@media(max-width: 600px){
  .yard__title-text {
    font-size: 50px;
  }
  .info{
    padding-bottom: 60px;
    &__item{
      width: 100%;
      &-numbers{
        max-width: none;
      }
    }
  }
  .info__title-text{
    font-size: 38px;
  }
  .quarter__top-title--text{
    font-size: 40px;
  }
  .quarter__down-items{
    &__item{
      width: 100%;
    }
  }
  .quarter{
    padding-bottom: 50px;
  }
  .home__title-text {
    font-size: 40px;
  }
  .home__text,
  .yard__text {
    font-size: 36px;
  }
  .comfort__item,
  .comfort__item-two{
    height: 200px;
  }
  .comfort__item.active{
    height: 226px;
  }
  .comfort__item-two.active{
    height: 226px;
  }
  .comfort__slider,
  .comfort__slider-two {
    height: 320px;
  }
  .comfort__title,
  .comfort__text{
    font-size: 34px;
    span{
      font-size: 40px;
    }
  }
  .comfort__slider, .comfort .comfort__slider-two {
    height: 400px;
  }
  .comfort__info{
    font-size: 24px;
  }
}
@media(max-width: 500px){
  .header__inner{
    min-height: 1050px;
  }
  .header__title{
    margin-top: 119px;
    &-text{
    padding: 35px 20px;
    }
  }
  .header__btn {
    margin-top: 150px;
  }
  .header__info {
    font-size: 24px;
  }
  .quarter__down-info{
    font-size: 36px;
    span{
      font-size: 40px;
    }
  }
  .home__text,
  .yard__text {
    font-size: 32px;
  }
  .yard__title-text {
    font-size: 44px;
  }
  .comfort__item,
  .comfort__item-two{
    height: 150px;
  }
  .comfort__item.active{
    height: 183px;
  }
  .comfort__item-two.active{
    height: 183px;
  }
  .comfort__text{
    font-size: 30px;
  }
  .footer{
    padding-bottom: 50px;
    &__item{
      &-logo{
        a{
          margin-top: 0;
        }
      }
      &-text{
        font-size: 40px;
        margin-left: 20px;
        span{
          font-size: 24px;
        }
      }
      &-btn{
        max-width: 100%;
      }
      &-name{
        font-size: 24px;
      }
      &-box{
        a,p{
          font-size: 24px;
        }
      }
    }
  }
}
@media(max-width: 370px){
   .header__title{
     margin-top: 72px;
   }
   .info__title {
     margin-bottom: 45px;
     &-text{
      font-size: 30px;
     }
   }
   .info{
     padding-bottom: 30px;
   }
   .footer__item-btn{
     font-size: 24px;
   }
}
