@media(max-width: 1100px){
  .info__items{
    flex-wrap: wrap;
    justify-content: center;
  }
  .info__item{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
}
@media(max-width: 1000px){
  .quarter__top-title{
      padding-left: 0;
      &--text{
        text-align: center;
      }
    }
}
@media(max-width: 900px){
  .quarter__down-items{
    flex-wrap: wrap;
    justify-content: center;
    &__item{
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
      // & + .quarter__down-items__item{
      //   margin-left: 0px;
      // }
    }
  }
  .quarter__down{
    &-info{
      font-size: 40px;
      span{
        font-size: 50px;
      }
    }
  }
}
@media(max-width: 800px){
  .header__title-text {
    font-size: 50px;
  }
  .header__btn {
    margin-top: 190px;
    font-size: 40px;
  }
  .quarter__top{
    &-title{
      padding-left: 0;
      &--text{
        font-size: 50px;
        text-align: center;
      }
    }
  }
}
@media(max-width: 600px){
  .info{
    padding-bottom: 60px;
    &__item{
      width: 100%;
      &-numbers{
        max-width: none;
      }
    }
  }
  .info__title-text{
    font-size: 38px;
  }
  .quarter__top-title--text{
    font-size: 40px;
  }
  .quarter__down-items{
    &__item{
      width: 100%;
    }
  }
  .quarter{
    padding-bottom: 50px;
  }
}
@media(max-width: 500px){
  .header__inner{
    min-height: 1050px;
  }
  .header__title{
    margin-top: 119px;
    &-text{
    padding: 35px 20px;
    }
  }
  .header__btn {
    margin-top: 150px;
  }
  .header__info {
    font-size: 24px;
  }
  .quarter__down-info{
    font-size: 36px;
    span{
      font-size: 40px;
    }
  }
}
@media(max-width: 370px){
   .header__title{
     margin-top: 72px;
   }
   .info__title {
     margin-bottom: 45px;
     &-text{
      font-size: 30px;
     }
   }
   .info{
     padding-bottom: 30px;
   }
}
