$text: #4a4339;
$bg: #9e917e;
@mixin f300 {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300;
}
@mixin f400 {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 400;
}
@mixin f600 {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 600;
}